<ng-container *ngIf="modelList$ | async as modelList">
  <router-outlet></router-outlet>
  <section id="individual-documents-section">
    <ui-table
      #table
      [checkboxes]="false"
      [dataSource]="modelList.results"
      [tableColumns]="tableColumns"
      stickyHeader="true"
      (columnFilterEvent)="columnFilterEvent($event)"
      (columnOrdinationEvent)="columnOrdinationEvent($event)">
    </ui-table>

    <kyr-table-pagination>
      <ui-paginator
        [length]="modelList.total"
        [pageIndex]="modelList.page - 1"
        [pageSize]="limit"
        (onChangeEvent)="paginationChangeEvent($event)"
      ></ui-paginator>
      <ui-menu
        type="icons"
        [model]="pagerMenu"
        xPosition="before"
        (sendValue)="menuClick($event)"
      ></ui-menu>
    </kyr-table-pagination>
  </section>
</ng-container>

<!-- TEMPLATES START -->


<ng-template #entityDescriptionReportTemplate let-data="data">
  <span class="report-entity" (click)="openDetails('persons', data.entity_id)">{{ data.entity_description }}</span>
</ng-template>

<ng-template #inscriptionReportTemplate let-data="data">
  <ng-container *ngIf="data.doc_inscription_url">
    <ui-button type="icon" icon="insert_drive_file" color="primary" (onClickEvent)="openReport(data.catechism_id, data.doc_inscription_url)"></ui-button>
  </ng-container>
</ng-template>

<ng-template #historicReportTemplate let-data="data">
  <ng-container *ngIf="data.doc_historic_url">
    <ui-button type="icon" icon="insert_drive_file" color="primary" (onClickEvent)="openReport(data.catechism_id, data.doc_historic_url)"></ui-button>
  </ng-container>
</ng-template>

<ng-template #attendanceSheetReportTemplate let-data="data">
  <ng-container *ngIf="data.doc_attendance_sheet_url">
    <ui-button type="icon" icon="insert_drive_file" color="primary" (onClickEvent)="openReport(data.catechism_id, data.doc_attendance_sheet_url)"></ui-button>
  </ng-container>
</ng-template>

<ng-template #transferReportTemplate let-data="data">
  <ng-container *ngIf="data.doc_transfer_url">
    <ui-button type="icon" icon="insert_drive_file" color="primary" (onClickEvent)="openReport(data.catechism_id, data.doc_transfer_url)"></ui-button>
  </ng-container>
</ng-template>
<!-- TEMPLATES END -->
