<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  [inputFooterTemplate]="footer"
  (modalClosed)="navigate('/' + modulePath)"
  [disableClose]="true"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 *ngIf="!sharedModule.isSmallScreen(); else smallHeader">{{ modulePath + (id ? ':action.edit' : ':action.new') | i18next }}</h1>
    <ng-template #smallHeader>
      {{ modulePath + (id ? ':action.edit' : ':action.new') | i18next }}
    </ng-template>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="!isLoading">
        <ui-progress-spinner diameter="20" color="warn" strokeWidth="4" *ngIf="isSaving"></ui-progress-spinner>

        <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="headerOptionsMenu" (sendValue)="menuClick($event)"></ui-menu>
      </ng-container>

      <ui-button [title]="'translation:action.close' | i18next" type="icon" icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <ng-container *ngTemplateOutlet="isLoading ? loadingTemplate : formTemplate; context: form">
  </ng-container>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save"
      [label]="'translation:action.cancel' | i18next" color="secondary"
      (onClickEvent)="onCancelClick()">
    </ui-button>
    <ui-button type="flat" icon="save" [label]="'translation:action.save_new' | i18next" color="secondary" (onClickEvent)="menuClick('save_new')"
      fxHide.lt-sm="true"></ui-button>

    <ui-button type="flat" icon="save" [label]="'translation:action.save' | i18next" color="accent" (onClickEvent)="onSubmit()"></ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #formTemplate>
  <router-outlet></router-outlet>
  <form [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px">
      <ui-checkbox class="center-checkbox" [label]="modulePath + ':model.enabled' | i18next" [control]="form.get('enabled')"></ui-checkbox>
      <ui-input fxFlex="90" [label]="modulePath + ':model.name'| i18next" [required]="true" [placeholder]="modulePath + ':model.name'| i18next" [control]="form.get('name')"></ui-input>
    </div>

    <div *ngIf="reportsGroupsLinesDS?.data">
      <div fxLayout="row" fxLayoutAlign="space-between none">
        <h2>{{ modulePath + ':header.reports_groups' | i18next }}</h2>
      </div>
      <ui-table
        #reportsGroupsLinesTable
        [checkboxes]="false"
        [dataSource]="reportsGroupsLinesDS"
        [tableColumns]="reportsGroupsLinesColumns"
        stickyHeader="true">
      </ui-table>
      <div class="add-table-line" (click)="addTableLine(newReportsGroupsLine, reportsGroupsLinesFormArray, reportsGroupsLinesDS)">
        {{ 'translation:action.add' | i18next }}
      </div>
    </div>
  </form>
</ng-template>

<!-- General Templates -->
<ng-template #reportsRightTemplate let-inputName="inputName" let-index="index">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" icon="open_in_new" (onClickEvent)="openSelectionModal('reports-modal', inputName)"></ui-button>
    <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="reportsMenuOptions" (sendValue)="menuClick($event, inputName)"></ui-menu>
  </div>
</ng-template>

<ng-template #reportsGrouperRightTemplate let-inputName="inputName">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" icon="open_in_new" (onClickEvent)="openSelectionModal('reports-groupers-modal', inputName)"></ui-button>
    <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="reportsGroupersMenuOptions" (sendValue)="menuClick($event, inputName)"></ui-menu>
  </div>
</ng-template>

<!-- Table Templates -->
<ng-template #deleteTemplate let-index="index">
  <ui-button type="icon" icon="delete" color="warn" (onClickEvent)="deleteTableLine(index, reportsGroupsLinesFormArray, reportsGroupsLinesDS)"></ui-button>
</ng-template>

<ng-template #reportTemplate let-index="index">
  <ui-input
    customClass="remove-bottom-padding"
    readonly="true"
    [control]="reportsGroupsLinesFormArray.controls[index].get('report_description')"
    [rightTemplate]="{ template: reportsRightTemplate, context: { inputName: 'reports#' + index, index: index } }">
  </ui-input>
</ng-template>

<ng-template #reportsGrouperTemplate let-index="index">
  <ui-input
    customClass="remove-bottom-padding"
    readonly="true"
    [control]="reportsGroupsLinesFormArray.controls[index].get('reports_grouper_description')"
    [rightTemplate]="{ template: reportsGrouperRightTemplate, context: { inputName: 'reports-grouper#' + index, index: index } }">
  </ui-input>
</ng-template>
