<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  [inputFooterTemplate]="footer"
  (modalClosed)="navigate('/' + modulePath)"
  [disableClose]="true"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 *ngIf="!sharedModule.isSmallScreen(); else smallHeader">{{ modulePath + (id ? ':action.edit' : ':action.new') | i18next }}</h1>
    <ng-template #smallHeader>
      {{ modulePath + (id ? ':action.edit' : ':action.new') | i18next }}
    </ng-template>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="!isLoading">
        <ui-progress-spinner diameter="20" color="warn" strokeWidth="4" *ngIf="isSaving"></ui-progress-spinner>

        <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="headerOptionsMenu" (sendValue)="menuClick($event)"></ui-menu>
      </ng-container>

      <ui-button [title]="'translation:action.close' | i18next" type="icon" icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <router-outlet></router-outlet>
  <ng-container *ngTemplateOutlet="isLoading ? loadingTemplate : formTemplate; context: form">
  </ng-container>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save"
      [label]="'translation:action.cancel' | i18next" color="secondary"
      (onClickEvent)="onCancelClick()">
    </ui-button>
    <ui-button type="flat" icon="save" [label]="'translation:action.save_new' | i18next" color="secondary" (onClickEvent)="menuClick('save_new')"
      fxHide.lt-sm="true"></ui-button>

    <ui-button type="flat" icon="save" [label]="'translation:action.save' | i18next" color="accent" (onClickEvent)="onSubmit()"></ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #formTemplate>
  <form [formGroup]="form" class="form-body">

    <div fxLayout="column" fxLayoutGap="5px">
      <h2>{{ modulePath + ':header.activation' | i18next }}</h2>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
        <ui-checkbox [label]="modulePath + ':model.active' | i18next" [control]="form.get('disabled')"
        [hintMessage]="form.value.subscription_id ? '' : modulePath + ':hint_message.no_pre_defined_subscription' | i18next">
        </ui-checkbox>
        <ui-checkbox [label]="modulePath + ':model.kyrios_social_access' | i18next" [control]="form.get('kyrios_social_access')"></ui-checkbox>
        <ui-checkbox [label]="modulePath + ':model.kyrios_portal_access' | i18next" [control]="form.get('kyrios_portal_access')"></ui-checkbox>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px grid" fxFlexOffset="10px">
        <div fxLayout="column" fxFlex>
          <h2>{{ modulePath + ':header.user' | i18next }}</h2>
          <ui-input fxFlex [label]="modulePath + ':model.name' | i18next" [required]="true" [control]="form.get('name')"></ui-input>
          <ui-input fxFlex [label]="modulePath + ':model.email' | i18next" [required]="true" [control]="form.get('email')"></ui-input>
          <ui-select fxFlex [label]="modulePath + ':model.entity' | i18next" [required]="true" [control]="form.get('entity').get('entity_type_id')" [options]="entityTypeOptions"></ui-select>
          <ui-select fxFlex [label]="modulePath + ':model.locale' | i18next" [required]="true" [control]="form.get('locale')" [options]="localeOptions"></ui-select>
        </div>
        <div fxLayout="column" fxFlex>
          <h2>{{ modulePath + ':header.subscription' | i18next }}</h2>
          <div fxLayout="row wrap" fxLayout.gt-sm="column">
            <ui-input fxFlex [label]="modulePath + ':model.subscriptions_limit' | i18next" [required]="true" type="number" [control]="form.get('subscriptions_limit')"></ui-input>
            <ui-input fxFlex [label]="modulePath + ':model.subscription_description' | i18next" readonly="true" [control]="form.get('subscription_description')" [rightTemplate]="{ template: parishionersRightTemplate, context: { inputName: 'subscription'} }"></ui-input>
            <ui-input *ngIf="form.value.entity.entity_type_id === 11" fxFlex [label]="modulePath + ':model.entity_ekklesia_location_description' | i18next" readonly="true" [control]="form.get('entity_ekklesia_location_description')" [rightTemplate]="{ template: bishopricsRightTemplate, context: { inputName: 'entity_ekklesia_location'} }"></ui-input>
          </div>
        </div>
      </div>
      <h2>{{ modulePath + ':header.dates' | i18next }}</h2>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
        <ui-datepicker fxFlex [label]="modulePath + ':model.approved_at' | i18next" [control]="form.get('approved_at')"></ui-datepicker>
        <ui-datepicker fxFlex [label]="modulePath + ':model.expiration_date' | i18next" [control]="form.get('expiration_date')"></ui-datepicker>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #bishopricsRightTemplate let-inputName="inputName">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" icon="open_in_new" (onClickEvent)="openSelectionModal('bishoprics-modal', inputName)"></ui-button>
    <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="bishopricsMenuOptions" (sendValue)="menuClick($event, inputName)"></ui-menu>
  </div>
</ng-template>

<ng-template #parishionersRightTemplate let-inputName="inputName">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" icon="open_in_new" (onClickEvent)="openSelectionModal('parishioners-modal', inputName, {}, '', parishionersModalParams)"></ui-button>
    <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="parishionersMenuOptions" (sendValue)="menuClick($event, inputName)"></ui-menu>
  </div>
</ng-template>
