<section id="categories-section">
  <div fxLayout="row">
    <div class="section-container" fxLayout="column" fxFill>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.entity_catechist.catechist' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.entity_catechist.catechist ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.is_catechized' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.is_catechized ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.entity_mec.mec' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.entity_mec.mec ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.entity_elder_patient.elder' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.entity_elder_patient.elder ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.entity_elder_patient.sick' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.entity_elder_patient.sick ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.entity_acolyte.is_acolyte' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.entity_acolyte.is_acolyte ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.entity_pastoral_agent.active' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.entity_pastoral_agent.active ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.entity_reader.is_reader' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.entity_reader.is_reader ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.can_sign_documents' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.can_sign_documents ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.newsletter_subscriptor' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.newsletter_subscriptor ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.entity.is_public_profile' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.entity.is_public_profile ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex class="mat-body-strong">{{ modulePath + ':model.deceased' | i18next }}:</div>
        <div fxFlex>
          <ui-icon [icon]="model.deceased ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
        </div>
      </div>
    </div>
  </div>
</section>
