<ui-dialog #modal [inputHeaderTemplate]="header" [inputBodyTemplate]="body" [inputFooterTemplate]="footer"
  (modalClosed)="onModalClose()" [disableClose]="true">
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h1>{{ (id ? modulePath + ':action.edit' : modulePath + ':action.new') | i18next }}</h1>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="!isLoading">
        <ui-progress-spinner diameter="20" color="warn" strokeWidth="4" *ngIf="isSaving"></ui-progress-spinner>

        <ui-menu *ngIf="!isQuickInsertion" type="icons" [model]="headerOptionsMenu" (sendValue)="menuClick($event)">
        </ui-menu>
      </ng-container>

      <ui-button type="icon" icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <ng-container *ngTemplateOutlet="isLoading ? loadingTemplate : formTemplate; context: form">
  </ng-container>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save" [label]="'translation:action.cancel' | i18next"
      color="secondary" (onClickEvent)="onCancelClick()">
    </ui-button>
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save" [label]="'translation:action.save_new' | i18next"
      color="secondary" (onClickEvent)="menuClick('save_new')" fxHide.lt-sm="true">
    </ui-button>

    <ui-button type="flat" icon="save"
      [label]="(isQuickInsertion ? 'translation:action.create_insert' : 'translation:action.save') | i18next"
      color="accent" (onClickEvent)="onSubmit()">
    </ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #formTemplate>
  <router-outlet></router-outlet>
  <form [formGroup]="form" class="form-body">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <ui-select fxFlex [label]="modulePath + ':model.emoluments_type' | i18next"
        [placeholder]=" modulePath + ':model.emoluments_type'| i18next" [options]="emolumentsTypes"
        [control]="form.get('emoluments_type_id')" [required]="true">
      </ui-select>

      <ui-input fxFlex [label]="modulePath + ':model.description_short'| i18next"
        [placeholder]=" modulePath + ':model.description_short'| i18next" [control]="form.get('description_short')"
        [required]="true">
      </ui-input>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <ui-checkbox fxFlex="20" class="checkbox-bottom-10px" [label]="modulePath + ':model.is_parochial_right' | i18next"
        [control]="form.get('is_parochial_right')">
      </ui-checkbox>

      <ui-textarea fxFlex [label]="modulePath + ':model.description'| i18next"
        [placeholder]=" modulePath + ':model.description'| i18next" [control]="form.get('description')" rows="3"
        [required]="true">
      </ui-textarea>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <ui-input fxFlex="25" [label]="modulePath + ':model.value'| i18next" [placeholder]="'0.00'"
        [control]="form.get('value')" type="number" [required]="true" min="0">
      </ui-input>
      <div fxLayout="column" fxLayoutAlign="center center">
        <span fxFlexOffset="-15px">
          {{form.value.currency}}
        </span>
      </div>
    </div>

  </form>
</ng-template>