@import './node_modules/@peakitpt/ui-material/assets/theme.scss';

.warnings-container {
  color: #424242;
  font-weight: bold;
  background-color: #faeaa9;
  padding: 1px 10px 1px 10px;
  margin-bottom: 15px;
}

.side-note {
  font-size: 12px;
}
