<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  (modalClosed)="modalClose()"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row wrap" fxLayoutGap="20px">
      <div *ngIf="model?.curia_status" class="curia-status">
        <ui-chip class="{{ model.curia_status }}" [disableRipple]="true" [content]="'translation:curia_status.' + model.curia_status | i18next"></ui-chip>
      </div>
      <h1 *ngIf="!sharedModule.isSmallScreen(); else smallHeader">
        {{ modulePath + ':module.name_singular' | i18next }}<ng-container *ngIf="model">: {{ model.serie_number }}</ng-container>
      </h1>
      <ng-template #smallHeader>
        {{ modulePath + ':module.name_singular' | i18next }}
      </ng-template>
    </div>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="model">
        <ui-menu
          *ngIf="reportMenuOptionsModel.length"
          [hasBackdrop]="false"
          fxHide.lt-md="true"
          class="reports-list-button"
          type="nested"
          [menuClickTemplate]="reportsClickableTemplate"
          color="accent"
          [model]="reportMenuOptionsModel"
          (sendValue)="reportMenuClick($event)"
        ></ui-menu>
        <ui-menu
          *ngIf="reportMenuOptionsModel.length"
          [hasBackdrop]="false"
          fxHide.gt-sm="true"
          [hoverTitle]="'reports:module.name_many' | i18next"
          type="nested"
          mainIcon="insert_drive_file"
          [model]="reportMenuOptionsModel"
          (sendValue)="reportMenuClick($event)"
        ></ui-menu>
        <ui-menu
          *ngIf="treasuryDocOptionsMenu.length"
          [hoverTitle]="'documents:action.treasury_doc.title' | i18next"
          type="icons"
          mainIcon="request_quote"
          [model]="treasuryDocOptionsMenu"
          (sendValue)="menuClick($event, model)"
        >
        </ui-menu>
        <ui-button [title]="'translation:action.edit' | i18next" type='icon' icon="edit" (onClickEvent)="editModal()"></ui-button>
        <ui-menu
          [hoverTitle]="'translation:action.more' | i18next"
          type="icons"
          [model]="headerOptionsMenu"
          (sendValue)="menuClick($event, model)"
        >
        </ui-menu>
      </ng-container>
      <ui-button [title]="'translation:action.close' | i18next" type='icon' icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <router-outlet></router-outlet>
  <ng-container *ngIf="model; else loadingTemplate">
    <div *ngIf="warnings.length > 0" class="warnings-container">
      <h2>{{ modulePath + ':header.warnings' | i18next }}</h2>
      <div *ngFor="let warning of warnings" fxLayout="row" fxLayoutGap="15px">
        <ui-icon [icon]="'warning'"></ui-icon>
        <div>
          {{ (modulePath + ':warnings.' + warning )| i18next }}
        </div>
      </div>
    </div>
    <ui-tabs [tabs]="detailsTabs"></ui-tabs>
  </ng-container>
</ng-template>

<!-- TABS -->
<ng-template #weddingTabTemplate>
  <kyr-weddings-details-wedding-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-weddings-details-wedding-tab>
</ng-template>

<ng-template #groomsTabTemplate>
  <kyr-weddings-details-grooms-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-weddings-details-grooms-tab>
</ng-template>

<ng-template #seatDuplicateTabTemplate>
  <kyr-weddings-details-seat-duplicate-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-weddings-details-seat-duplicate-tab>
</ng-template>

<ng-template #mod1TabTemplate>
  <kyr-weddings-details-mod1-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-weddings-details-mod1-tab>
</ng-template>

<ng-template #mod2TabTemplate>
  <kyr-weddings-details-mod2-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-weddings-details-mod2-tab>
</ng-template>

<ng-template #reportsTabTemplate>
  <kyr-weddings-details-reports-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-weddings-details-reports-tab>
</ng-template>

<ng-template #attachmentsTabTemplate>
  <kyr-weddings-details-attachments-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-weddings-details-attachments-tab>
</ng-template>
<!-- END TABS -->

<!-- TEMPLATES START -->
<ng-template #reportsClickableTemplate>
  <kyr-reports-button></kyr-reports-button>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<kyr-generate-doc-confirmation-modal *ngIf="openGenerateDocModal"
  [form]="model"
  [modulePath]="modulePath"
  [actionRequestSaveAndGenerateDocument]="actionRequestSaveAndGenerateDocument"
  [actionRequestFailSaveAndGenerateDocument]="actionRequestFailSaveAndGenerateDocument"
  [actionSuccessSaveAndGenerateDocument]="actionSuccessSaveAndGenerateDocument"
  (emitModalClose)="closeGenerateDocModal($event)"
>
</kyr-generate-doc-confirmation-modal>

<!-- FINALIZE WEDDING MODAL -->
<ui-dialog #finalizeWeddingModal
  [inputHeaderTemplate]="finalizeWeddingHeader"
  [inputBodyTemplate]="finalizeWeddingBody"
  [inputFooterTemplate]="finalizeWeddingFooter"
  [width]="800"
>
</ui-dialog>

<ng-template #finalizeWeddingHeader>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>
      {{ modulePath + ':header.finalize_wedding'| i18next }}
    </h1>
    <div class="header-buttons" fxLayout="row">
      <ui-button type='icon' icon="close" disableRipple="true" disableFocusRipple="true" (onClickEvent)="cancelFinalizeWedding()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #finalizeWeddingBody>
  {{ modulePath + ':message.finalize_wedding'| i18next }}
</ng-template>

<ng-template #finalizeWeddingFooter>
  <div class="footer-buttons" fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button type="flat" [label]="'translation:action.cancel' | i18next" (onClickEvent)="cancelFinalizeWedding()"></ui-button>
    <ui-button type="flat" [label]="modulePath + ':action.finalize_wedding'| i18next" color="accent" (onClickEvent)="finalizeWedding()"></ui-button>
    <ui-button type="flat" [label]="modulePath + ':action.finalize_wedding_and_update_status'| i18next" color="accent" (onClickEvent)="finalizeWedding(true)"></ui-button>
  </div>
</ng-template>

<!-- FINALIZE WEDDING MODAL -->
<!-- TEMPLATES END -->
