<div fxLayout="column" class="topbar-search-form-container">
  <form [formGroup]="form" style="padding: 10px;">
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px grid">
      <div fxLayout="column" fxFlex>
        <ng-container *ngTemplateOutlet="textInput; context: { field: 'entity_groom_description', label: modulePath + ':model.entity_groom_description' | i18next }"></ng-container>
        <ng-container *ngTemplateOutlet="textInput; context: { field: 'entity_bride_description', label: modulePath + ':model.entity_bride_description' | i18next }"></ng-container>
        <ng-container *ngTemplateOutlet="textInput; context: { field: 'serie_number', label: modulePath + ':model.serie_number' | i18next }"></ng-container>
        <ng-container *ngTemplateOutlet="textInput; context: { field: 'seat_number', label: modulePath + ':model.seat_number' | i18next }"></ng-container>
      </div>

      <div fxLayout="column" fxFlex>
        <ng-container *ngTemplateOutlet="dateRangeInput; context: { field: 'date', label: modulePath + ':model.date' | i18next }"></ng-container>
        <ng-container *ngTemplateOutlet="textInput; context: { field: 'entity_location_description', label: modulePath + ':model.entity_location_description' | i18next }"></ng-container>
        <ng-container *ngTemplateOutlet="dateRangeInput; context: { field: 'wedding_date', label: modulePath + ':model.wedding_date' | i18next }"></ng-container>
      </div>

      <div fxLayout="column" fxFlex>
        <ng-container *ngTemplateOutlet="selectInput; context: { field: 'civil_registration_certificates', label: modulePath + ':model.civil_registration_certificates' | i18next, options: civilRegistrationCertificatesOptions }"></ng-container>
        <ng-container *ngTemplateOutlet="selectInput; context: { field: 'curia_status', label: modulePath + ':model.curia_status' | i18next, options: curiaStatusesOptions }"></ng-container>
      </div>
    </div>
  </form>

  <div fxLayout="column" fxLayoutGap="15px" class="sticky-footer">
    <ui-divider></ui-divider>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="95" style="padding-bottom: 10px;">
      <ui-button [label]="'translation:action.clear' | i18next" type="flat" (click)="clearSearch()"></ui-button>
      <ui-button [label]="'translation:action.search' | i18next" type="raised" color="primary" (click)="onSearchClick()"></ui-button>
    </div>
  </div>
</div>


<!-- TEMPLATES -->
<ng-template #textInput let-field="field" let-label="label" let-placeholder="placeholder" let-inputType="inputType" let-hint="hint">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="0px">
    <div fxFlex="25" fxLayoutAlign="start center">{{ label }}:</div>

    <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
      <ui-input
        fxFlex
        [placeholder]="placeholder ? placeholder : label"
        [appearance]="'standard'"
        [control]="form.get('searchFields').get(field).get('value')"
        [type]="inputType ? inputType : 'text'"
        [hintMessage]="hint"
        (keyup.enter)="onSearchClick()">
      </ui-input>
    </div>
  </div>
</ng-template>

<ng-template #dateRangeInput let-field="field" let-label="label" let-startView="startView" let-hint="hint">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="0px">
    <div fxFlex="25" fxLayoutAlign="start center">{{ label }}:</div>

    <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="20px">
      <ui-datepicker-range
        fxFlex
        [startView]="startView || 'multi-year'"
        [appearance]="'standard'"
        [controlStart]="form.get('searchFields').get(field + '_start').get('value')"
        [controlEnd]="form.get('searchFields').get(field + '_end').get('value')"
        [hintMessage]="hint"
        (keyup.enter)="onSearchClick()">
      </ui-datepicker-range>
    </div>
  </div>
</ng-template>

<ng-template #selectInput let-field="field" let-label="label" let-options="options" let-multiple="multiple" let-hint="hint">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="0px">
    <div fxFlex="25" fxLayoutAlign="start center">{{ label }}:</div>

    <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
      <ui-select
        fxFlex
        [placeholder]="'translation:all' | i18next"
        [appearance]="'standard'"
        [options]="options"
        [hintMessage]="hint"
        [multiple]="multiple"
        [control]="form.get('searchFields').get(field).get('value')">
      </ui-select>
    </div>
  </div>
</ng-template>
