<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
  <section fxFlex id="godfather-section">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
      <ui-select
        fxFlex
        [required]="true"
        [label]="modulePath + ':model.opt_mod2_groom_bride' | i18next"
        [options]="groomBrideOptions"
        [control]="form.get('opt_mod2_groom_bride')">
      </ui-select>
      <ui-input
        [readonly]="true"
        [label]="modulePath + ':model.mod2_chapelry_description' | i18next"
        [control]="form.get('mod2_chapelry_description')"
        [rightTemplate]="{ template: chapelriesRightTemplate, context: { inputName: 'mod2_chapelry' } }"></ui-input>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox [label]="modulePath + ':model.opt_mod2_opt1' | i18next" [control]="form.get('opt_mod2_opt1')"></ui-checkbox>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox class="long-checkbox" [label]="modulePath + ':model.opt_mod2_opt2' | i18next" [control]="form.get('opt_mod2_opt2')"></ui-checkbox>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox [label]="modulePath + ':model.opt_mod2_opt3' | i18next" [control]="form.get('opt_mod2_opt3')"></ui-checkbox>
        </div>
        <ui-textarea fxFlex rows="1" *ngIf="form.value.opt_mod2_opt3===true"
          [label]="modulePath + ':model.opt_mod2_opt3_text' | i18next"
          [control]="form.get('opt_mod2_opt3_text')">
        </ui-textarea>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox [label]="modulePath + ':model.opt_mod2_opt4' | i18next" [control]="form.get('opt_mod2_opt4')"></ui-checkbox>
        </div>
        <ui-input *ngIf="form.value.opt_mod2_opt4===true" fxFlex customClass="remove-bottom-padding" [label]="modulePath + ':model.opt_mod2_opt4_input' | i18next" [control]="form.get('opt_mod2_opt4_input')"></ui-input>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox [label]="modulePath + ':model.opt_mod2_opt5' | i18next" [control]="form.get('opt_mod2_opt5')"></ui-checkbox>
        </div>
        <ui-input *ngIf="form.value.opt_mod2_opt5===true" fxFlex customClass="remove-bottom-padding" [label]="modulePath + ':model.opt_mod2_opt5_input' | i18next" [control]="form.get('opt_mod2_opt5_text')" [errorMessage]="'translation:message.max_character_error' | i18next"></ui-input>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox [label]="modulePath + ':model.opt_mod2_opt6' | i18next" [control]="form.get('opt_mod2_opt6')"></ui-checkbox>
        </div>
        <ui-input *ngIf="form.value.opt_mod2_opt6===true" fxFlex customClass="remove-bottom-padding" [label]="modulePath + ':model.opt_mod2_opt6_text' | i18next" [control]="form.get('opt_mod2_opt6_text')"></ui-input>
        <ui-input *ngIf="form.value.opt_mod2_opt6===true" fxFlex customClass="remove-bottom-padding" [label]="modulePath + ':model.opt_mod2_opt6_text2' | i18next" [control]="form.get('opt_mod2_opt6_text2')"></ui-input>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox [label]="modulePath + ':model.opt_mod2_opt7' | i18next" [control]="form.get('opt_mod2_opt7')"></ui-checkbox>
        </div>
        <ui-input *ngIf="form.value.opt_mod2_opt7===true" fxFlex customClass="remove-bottom-padding" [label]="modulePath + ':model.opt_mod2_opt7_text' | i18next" [control]="form.get('opt_mod2_opt7_text')"></ui-input>
        <ui-input *ngIf="form.value.opt_mod2_opt7===true" fxFlex customClass="remove-bottom-padding" [label]="modulePath + ':model.opt_mod2_opt7_text2' | i18next" [control]="form.get('opt_mod2_opt7_text2')"></ui-input>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <div fxFlex ngClass.gt-xs="center-checkbox">
          <ui-checkbox [label]="modulePath + ':model.opt_mod2_opt8' | i18next" [control]="form.get('opt_mod2_opt8')"></ui-checkbox>
        </div>
        <ui-input *ngIf="form.value.opt_mod2_opt8===true" fxFlex customClass="remove-bottom-padding" [label]="modulePath + ':model.opt_mod2_opt8_text' | i18next" [control]="form.get('opt_mod2_opt8_text')"></ui-input>
      </div>
      <ui-input fxFlex [label]="modulePath + ':model.opt_mod2_opt8_text2' | i18next" [control]="form.get('opt_mod2_opt8_text2')"></ui-input>
    </div>
  </section>
</div>
