<ui-dialog #modal [inputHeaderTemplate]="header" [inputBodyTemplate]="body" [inputFooterTemplate]="footer"
  (modalClosed)="onModalClose()" [disableClose]="true">
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h1>{{ (id ? modulePath + ':action.edit' : modulePath + ':action.new') | i18next }}</h1>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="!isLoading">
        <ui-progress-spinner diameter="20" color="warn" strokeWidth="4" *ngIf="isSaving"></ui-progress-spinner>

        <ui-menu *ngIf="!isQuickInsertion" type="icons" [model]="headerOptionsMenu" (sendValue)="menuClick($event)">
        </ui-menu>
      </ng-container>

      <ui-button type="icon" icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <ng-container *ngTemplateOutlet="isLoading ? loadingTemplate : formTemplate; context: form">
  </ng-container>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save" [label]="'translation:action.cancel' | i18next"
      color="secondary" (onClickEvent)="onCancelClick()">
    </ui-button>
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save" [label]="'translation:action.save_new' | i18next"
      color="secondary" (onClickEvent)="menuClick('save_new')" fxHide.lt-sm="true">
    </ui-button>

    <ui-button type="flat" icon="save"
      [label]="(isQuickInsertion ? 'translation:action.create_insert' : 'translation:action.save') | i18next"
      color="accent" (onClickEvent)="onSubmit()">
    </ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #formTemplate>
  <router-outlet></router-outlet>
  <form [formGroup]="form" class="form-body">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <ui-input fxFlex [label]="modulePath + ':model.name'| i18next"
        [placeholder]=" modulePath + ':model.name'| i18next" [control]="form.get('name')" [required]="true">
      </ui-input>
      <ui-checkbox fxLayoutAlign="center center" fxFlex="20" fxLayout class="margin-checkbox-bottom-10px "
        [label]="modulePath + ':model.is_donation_emolument' | i18next" [control]="form.get('is_donation_emolument')">
      </ui-checkbox>
    </div>

  </form>
</ng-template>