<ng-container *ngTemplateOutlet="renderField; context: { fields: fields }"></ng-container>

<ng-container *ngFor="let field of fields; index as i;">
  <ng-container [ngSwitch]="field.type">

    <ng-container *ngSwitchCase="'tab'">
      <ng-template name="tab-{{ field.name }}">

          <ng-container *ngTemplateOutlet="renderField; context: { renderfields: field.fields }"></ng-container>

      </ng-template>
    </ng-container>

  </ng-container>
</ng-container>

<ng-container *ngIf="detailsTabs.length > 0">
  <ui-tabs [tabs]="detailsTabs"></ui-tabs>
</ng-container>

<ng-template #renderField let-renderfields="renderfields">
  <ng-container *ngFor="let field of renderfields; index as i;">
    <ng-container [ngSwitch]="field.type">

      <ng-container *ngSwitchCase="'section'">
        <ng-container *ngTemplateOutlet="sectionFieldTemplate; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'text'">
        <ng-container *ngTemplateOutlet="textFieldTemplate; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'icon'">
        <ng-container *ngTemplateOutlet="iconFieldTemplate; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'image'">
        <ng-container *ngTemplateOutlet="imageFieldTemplate; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'date'">
        <ng-container *ngTemplateOutlet="dateFieldTemplate; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'template'">
        <ng-container *ngTemplateOutlet="field.template; context: { field: field, model: field.model }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'table'">
        <ui-table
        [checkboxes]="false"
        [dataSource]="field.dataSource"
        [tableColumns]="field.dataSourceColumns"
        stickyHeader="true"></ui-table>
      </ng-container>

      <ng-container *ngSwitchCase="'tabledatasearch'">

        <ng-template #searchMenuTemplate>
          <div fxLayout="column" fxFlex="800px" class="modal-search-menu">
            <form [formGroup]="field.searchForm" style="padding: 10px;" fxLayout="row wrap" fxLayoutGap="20px grid">

              <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <div fxLayout="column" fxFlex>
                  <ng-container *ngFor="let formField of field.fields">
                    <ng-container [ngSwitch]="formField.type">
                      <ng-container *ngSwitchCase="'dateRangeInput'">
                        <ng-container *ngTemplateOutlet="dateRangeInput; context: { form: field, field: formField.name, label: formField.label | i18next }"></ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'inputSelect'">
                        <ng-container *ngTemplateOutlet="inputSelect; context: { form: field, field: formField.name, label: formField.label | i18next, formfield: formField }"></ng-container>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <ng-container *ngTemplateOutlet="textInput; context: { form: field, field: formField.name, label: formField.label | i18next }"></ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
              </div>

              <div fxLayout="row" fxLayoutAlign="end center" fxFlex="95" fxLayoutGap="15px">
                <ui-button [label]="'translation:action.clear' | i18next" type="flat" (click)="field.clearSearch()"></ui-button>
                <ui-button [label]="'translation:action.search' | i18next" type="raised" color="primary" (click)="field.searchFieldSearch()"></ui-button>
              </div>
            </form>
          </div>
        </ng-template>

        <ng-template #inputSelect let-form="form" let-field="field" let-label="label" let-placeholder="placeholder" let-formfield="formfield">
          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="30" fxLayoutAlign="start center">{{ label }}:</div>

            <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
              <ui-select
                fxFlex
                [placeholder]="placeholder ? placeholder : label"
                [appearance]="'standard'"
                [options]="formfield.options"
                [control]="form.searchForm.get('searchFields').get(field).get('value')"
              ></ui-select>
            </div>
          </div>
        </ng-template>

        <ng-template #textInput let-form="form" let-field="field" let-label="label" let-placeholder="placeholder">
          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="30" fxLayoutAlign="start center">{{ label }}:</div>

            <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
              <ui-input
                fxFlex
                [placeholder]="placeholder ? placeholder : label"
                [appearance]="'standard'"
                [control]="form.searchForm.get('searchFields').get(field).get('value')"
              ></ui-input>
            </div>
          </div>
        </ng-template>

        <ng-template #dateRangeInput let-form="form" let-field="field" let-label="label">
          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="30" fxLayoutAlign="start center">{{ label }}:</div>

            <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="20px">
              <ui-datepicker-range
                fxFlex
                [appearance]="'standard'"
                [controlStart]="form.searchForm.get('searchFields').get(field + '_start').get('value')"
                [controlEnd]="form.searchForm.get('searchFields').get(field + '_end').get('value')"
              ></ui-datepicker-range>
            </div>
          </div>
        </ng-template>
        <div>
          <kyr-table-search
            [menuTemplate]="searchMenuTemplate" [searchWordControl]="field.searchForm.get('searchWord')"
            (searchEvent)="field.searchWordSearch()" (clearEvent)="field.clearSearch()">
          </kyr-table-search>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'tabledata'">
        <ng-container *ngIf="field.modelList$ | async as modelList">
          <ui-table
            #table
            [checkboxes]="false"
            [dataSource]="modelList.results"
            [tableColumns]="field.tableColumns"
            stickyHeader="true"
            (columnFilterEvent)="field.columnFilterEvent($event)"
            (columnOrdinationEvent)="field.columnOrdinationEvent($event)"
            [tableFooter]="field.hasFooter"
            >
          </ui-table>

          <kyr-table-pagination>
            <ui-paginator
              [length]="modelList.total"
              [pageIndex]="modelList.page - 1"
              [pageSize]="field.limit"
              (onChangeEvent)="field.paginationChangeEvent($event)"
            ></ui-paginator>
          </kyr-table-pagination>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'complex-tree'">
        <ng-container *ngTemplateOutlet="complexTreeFieldTemplate; context: { field: field }"></ng-container>
      </ng-container>

      <ng-container *ngSwitchDefault>ss {{ field.type }}</ng-container>

    </ng-container>
  </ng-container>
</ng-template>

<ng-template #complexTreeFieldTemplate let-field="field">
  <ui-complex-tree
    [selectAllLabel]="'translation:action.select_all' | i18next"
    [columns]="field.dataSourceColumns"
    [dataModel]="field.dataSource"
    [disable]="true"
  >
  </ui-complex-tree>
</ng-template>

<ng-template #sectionFieldTemplate let-sectionfield="field">
  <section [id]="sectionfield.id"  *ngIf="sectionfield.isVisible">
    <h2>{{ sectionfield.label }}</h2>
    <div fxLayout="row">
      <div class="section-container" fxLayout="column" fxFill>

        <ng-container *ngFor="let field of sectionfield.fields; index as i;">
          <div [fxLayout]="'row'" fxLayoutGap="10px"  *ngIf="field.isVisible && true">
            <ng-container *ngIf="field.type != 'complex-tree'">
              <div fxFlex class="mat-body-strong" *ngIf="field.label">{{ field.label }}:</div>
            </ng-container>
            <div fxFlex>
              <ng-container *ngTemplateOutlet="renderField; context: { renderfields: [field] }"></ng-container>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </section>
</ng-template>

<ng-template #textFieldTemplate let-field="field">
  <ng-container *ngIf="field.isHtml"><span [innerHtml]="replaceNewLines(field.model)"></span></ng-container>
  <ng-container *ngIf="!field.isHtml">
    <ng-container *ngIf="field.internalUrl">
      <a [href]="field.internalUrl" target="_blank">{{ field.model }}</a>
    </ng-container>
    <ng-container *ngIf="field.url">
      <a [href]="field.url" target="_blank">{{ field.model }}</a>
    </ng-container>
    <ng-container *ngIf="!field.url && !field.internalUrl">
      {{ field.model }}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #iconFieldTemplate let-field="field">
  <ui-icon [icon]="field.model ? field.icon_true : field.icon_false"></ui-icon>
</ng-template>

<ng-template #imageFieldTemplate let-field="field">
  <a
    [href]="field.getUploadFileLink(field.model)"
    target='_blank'>
    <img
      class="photo-img-edit"
      [src]="field.getUploadFileLink(field.model)"
      onerror="this.src='assets/image-placeholder-350x350.png'"/>
  </a>
</ng-template>

<ng-template #dateFieldTemplate let-field="field">
  {{ field.model | date:('translation:format.date' | i18next)  }}
</ng-template>


