@import './node_modules/@peakitpt/ui-material/assets/theme.scss';

.tab-content {
  margin-top: 20px;
}
  
.content-cover {
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
}
.photo-img-edit {
  height: 160px;
  max-height: 160px;
}