<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  (modalClosed)="modalClose()"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h1>
      {{ modulePath + ':module.name_singular' | i18next }}<ng-container *ngIf="model$ | async as model">: {{ model.description }}</ng-container>
    </h1>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="model$ | async as model">
          <ui-menu
          *ngIf="reportMenuOptionsModel.length"
          [hasBackdrop]="false"
          fxHide.lt-md="true"
          class="reports-list-button"
          type="nested"
          [menuClickTemplate]="reportsClickableTemplate"
          color="accent"
          [model]="reportMenuOptionsModel"
          (sendValue)="reportMenuClick($event)"
        ></ui-menu>
        <ui-menu
          *ngIf="reportMenuOptionsModel.length"
          [hasBackdrop]="false"
          fxHide.gt-sm="true"
          color="accent"
          [hoverTitle]="'reports:module.name_many' | i18next"
          type="nested"
          mainIcon="insert_drive_file"
          [model]="reportMenuOptionsModel"
          (sendValue)="reportMenuClick($event)"
        ></ui-menu>
        <ui-button type='icon' icon="edit" disableRipple="true" disableFocusRipple="true" (onClickEvent)="editModal()"></ui-button>
        <ui-menu
          type="icons"
          [model]="headerOptionsMenu"
          (sendValue)="menuClick($event, model)"
        >
        </ui-menu>
      </ng-container>
      <ui-button type='icon' icon="close" disableRipple="true" disableFocusRipple="true" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <router-outlet></router-outlet>
  <ng-container *ngIf="model$ | async as model; else loadingTemplate">
    <ui-tabs [tabs]="detailsTabs"></ui-tabs>
  </ng-container>
</ng-template>

<ng-template #generalTabsTemplate>
  <section>
    <div fxLayout="row">
      <div class="section-container" fxLayout="column" fxFill>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.code">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.code' | i18next }}:</div>
          <div fxFlex>{{ model.code }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.description">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.description' | i18next }}:</div>
          <div fxFlex>{{ model.description }}</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2> {{ modulePath + ':header.validity' | i18next }} </h2>
    <div fxLayout="row">
      <div class="section-container" fxLayout="column" fxFill>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.validity_date_start">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.validity_date_start' | i18next }}:</div>
          <div fxFlex>{{ model.validity_date_start | date:('translation:format.date' | i18next) }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.validity_date_end">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.validity_date_end' | i18next }}:</div>
          <div fxFlex>{{ model.validity_date_end | date:('translation:format.date' | i18next) }}</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2> {{ modulePath + ':header.periodicity' | i18next }} </h2>
    <div fxLayout="row">
      <div class="section-container" fxLayout="column" fxFill>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.periodicity_type">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.periodicity_type' | i18next }}:</div>
          <div fxFlex>{{ periodicityTypeTranslator[model.periodicity_type] }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.periodicity_number_of_days">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.periodicity_number_of_days' | i18next }}:</div>
          <div fxFlex>{{ model.periodicity_number_of_days }}</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2> {{ modulePath + ':header.document_to_generate' | i18next }} </h2>
    <div fxLayout="row">
      <div class="section-container" fxLayout="column" fxFill>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.document_to_generate_document_type_description">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.document_to_generate_document_type_description' | i18next }}:</div>
          <div fxFlex>{{ model.document_to_generate_document_type_description }}</div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.document_to_generate_serie_description' | i18next }}:</div>
          <div fxFlex>{{ model.document_to_generate_serie_description }}</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2> {{ modulePath + ':header.observations' | i18next }} </h2>
    <div fxLayout="row">
      <div class="section-container" fxLayout="column" fxFill>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="model.comments">
          <div fxFlex class="mat-body-strong">{{ modulePath + ':model.comments' | i18next }}:</div>
          <div fxFlex>{{ model.comments }}</div>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #emolumentsTabsTemplate>
  <div class="scrollable-table">
    <table class="mat-table" id="catechists-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell col1">{{ modulePath + ':model.accruals_types_emoluments.emolument_description' | i18next }}</th>
        <th class="mat-header-cell col1">{{ modulePath + ':model.accruals_types_emoluments.quantity' | i18next }}</th>
        <th class="mat-header-cell col1">{{ modulePath + ':model.accruals_types_emoluments.value' | i18next }}</th>
        <th class="mat-header-cell col1">{{ modulePath + ':model.accruals_types_emoluments.total' | i18next }}</th>
      </tr>
      <tr class="mat-row uiKyriosTableRow" *ngFor="let emolument of model.accruals_types_emoluments">
        <td class="mat-cell col1">
          {{ emolument.emolument_description }}
        </td>
        <td class="mat-cell col1">
          {{ emolument.quantity }}
        </td>
        <td class="mat-cell col1">
          {{ emolument.value }}
        </td>
        <td class="mat-cell col1">
          {{ emolument.total }}
        </td>
      </tr>
    </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
    <div>
      <b>{{ modulePath + ':message.total' | i18next }}:</b>
    </div>
    <div>
      <b>{{ calculateGrandTotal(model.accruals_types_emoluments) }}</b>
    </div>
  </div>
</ng-template>

<ng-template #reportsClickableTemplate>
  <kyr-reports-button></kyr-reports-button>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>






