<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  [inputFooterTemplate]="footer"
  (modalClosed)="modalClose()"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h1>
      {{ modulePath + ':module.name_singular' | i18next }}
    </h1>
    <div fxLayout="row" class="header-buttons">
      <ui-button type='icon' icon="close" disableRipple="true" disableFocusRipple="true" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <form [formGroup]="form" class="form-body">
    <div class="tab-content">
      <div fxLayout="column" fxLayoutGap="10px">
        <ui-input
          fxFlex [label]="modulePath + ':model.current_password' | i18next"
          [required]="true"
          [control]="form.get('current_password')"
          [type]="visibility['currentPasswordVisible']" autocomplete="off"
          name="current_pass"
          [rightTemplate]="{ template: passwordRightTemplate, context: {visibleVariable: 'currentPasswordVisible' } }">
        </ui-input>
        <ui-input
          fxFlex [label]="modulePath + ':model.password' | i18next"
          [required]="true"
          [control]="form.get('password')"
          [type]="visibility['passwordVisible']" autocomplete="off"
          name="pass"
          [rightTemplate]="{ template: passwordRightTemplate, context: {visibleVariable: 'passwordVisible' } }">
        </ui-input>
        <ui-input fxFlex [label]="modulePath + ':model.password_confirmation' | i18next"
          [required]="true"
          [control]="form.get('password_confirmation')"
          [type]="visibility['passwordConfirmationVisible']" autocomplete="off"
          name="pass_confirm"
          [rightTemplate]="{ template: passwordRightTemplate, context: {visibleVariable: 'passwordConfirmationVisible' } }">
        </ui-input>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
    <ui-button
      type="flat" icon="save"
      [label]=" modulePath + ':action.change_password' | i18next"
      color="accent" (onClickEvent)="onSubmit()">
    </ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #passwordRightTemplate let-visibleVariable="visibleVariable">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" [icon]="visibility[visibleVariable] === 'password' ? 'visibility' : 'visibility_off'" (onClickEvent)="togglePasswordVisible(visibleVariable)"></ui-button>
  </div>
</ng-template>



