<section id="curia-appointments-section" *ngIf="model.entity_person_appointments.length">
  <h2>{{ modulePath + ':header.curia_appointments' | i18next }}</h2>
  <div fxLayout="column">
    <section>
      <div class="scrollable-table">
        <table class="mat-table" id="curia-appointments-table">
          <tr class="mat-header-row">
            <th class="mat-header-cell">#</th>
            <th class="mat-header-cell col1">{{ modulePath + ':model.entity_person_appointments.start_date' | i18next }}</th>
            <th class="mat-header-cell col2">{{ modulePath + ':model.entity_person_appointments.end_date' | i18next }}</th>
            <th class="mat-header-cell col3">{{ modulePath + ':model.entity_person_appointments.curia_function_description' | i18next }}</th>
            <th class="mat-header-cell col4">{{ modulePath + ':model.entity_person_appointments.appointment_place_description' | i18next }}</th>
            <th class="mat-header-cell col5">{{ modulePath + ':model.entity_person_appointments.representing_description' | i18next }}</th>
            <th class="mat-header-cell col6">{{ modulePath + ':model.entity_person_appointments.description' | i18next }}</th>
          </tr>
          <tr class="mat-row uiKyriosTableRow" *ngFor="let appoinment of model.entity_person_appointments; let i = index" [attr.data-index]="i">
            <td class="mat-cell">{{ i + 1 }}</td>
            <td class="mat-cell col1">{{ appoinment.start_date | date:('translation:format.date' | i18next) }}</td>
            <td class="mat-cell col2">{{ appoinment.end_date | date:('translation:format.date' | i18next) }}</td>
            <td class="mat-cell col3">{{ appoinment.curia_function_description }}</td>
            <td class="mat-cell col4">{{ appoinment.appointment_place_description }}</td>
            <td class="mat-cell col5">{{ appoinment.representing_description }}</td>
            <td class="mat-cell col6">{{ appoinment.description }}</td>
          </tr>
        </table>
      </div>
    </section>
  </div>
</section>
