<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  (modalClosed)="modalClose()"
  [headerBottomMargin]="false"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 *ngIf="!sharedModule.isSmallScreen(); else smallHeader">
      {{ modulePath + ':module.name_singular' | i18next }}<ng-container *ngIf="model">: {{ modulePath + ':catechism_years.' +  model.year  + '_year' | i18next }}, {{ model.class_year }}</ng-container>
    </h1>
    <ng-template #smallHeader>
      {{ modulePath + ':module.name_singular' | i18next }}
    </ng-template>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf=" model">
        <ui-menu
        *ngIf="reportMenuOptionsModel.length"
        fxHide.lt-md="true"
        class="reports-list-button"
        type="nested"
        [menuClickTemplate]="reportsClickableTemplate"
        color="accent"
        [model]="reportMenuOptionsModel"
        (sendValue)="reportMenuClick($event)"
      ></ui-menu>
      <ui-menu
        *ngIf="reportMenuOptionsModel.length"
        fxHide.gt-sm="true"
        [hoverTitle]="'reports:module.name_many' | i18next"
        type="nested"
        mainIcon="insert_drive_file"
        [model]="reportMenuOptionsModel"
        (sendValue)="reportMenuClick($event)"
      ></ui-menu>
      <ui-button [title]="'translation:action.edit' | i18next" type='icon' icon="edit" (onClickEvent)="editModal()"></ui-button>
      <ui-menu
        [hoverTitle]="'translation:action.more' | i18next"
        type="icons"
        [model]="headerOptionsMenu"
        (sendValue)="menuClick($event, model)"
      >
      </ui-menu>
      </ng-container>
      <ui-button [title]="'translation:action.close' | i18next" type='icon' icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <router-outlet></router-outlet>
  <ng-container *ngIf="model; else loadingTemplate">
    <ui-tabs [tabs]="detailsTabs"></ui-tabs>
  </ng-container>
</ng-template>


<!-- TABS -->
<ng-template #catechismTabTemplate>
  <kyr-catechisms-details-catechism-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-catechisms-details-catechism-tab>
</ng-template>

<ng-template #sessionsTabTemplate>
  <kyr-catechisms-details-sessions-tab
    [modulePath]="modulePath"
    [catechismId]="model.id"
    [finalized]="model.finalized"
  ></kyr-catechisms-details-sessions-tab>
</ng-template>

<ng-template #transfersTabTemplate>
  <kyr-catechisms-details-transfers-tab
    [modulePath]="modulePath"
    [model]="model"
  ></kyr-catechisms-details-transfers-tab>
</ng-template>

<ng-template #individualDocsTabTemplate>
  <kyr-catechisms-details-individual-documents-tab
    [modulePath]="modulePath"
    [catechismId]="model.id"
  ></kyr-catechisms-details-individual-documents-tab>
</ng-template>
<!-- END TABS -->


<!-- TEMPLATES -->
<ng-template #reportsClickableTemplate>
  <kyr-reports-button></kyr-reports-button>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<kyr-catechisms-confirmation-modal #passing_grade
  *ngIf="openPassingGradeModal"
  [model]="model"
  [action]="'passing_grade'"
  (emitModalClose)="closeConfirmationModal($event)"
>
</kyr-catechisms-confirmation-modal>

<kyr-catechisms-confirmation-modal #passing_grade_finalize
  *ngIf="openPassingGradeFinalizeModal"
  [model]="model"
  [action]="'passing_grade_finalize'"
  (emitModalClose)="closeConfirmationModal($event)"
>
</kyr-catechisms-confirmation-modal>

<kyr-catechisms-confirmation-modal #finalize
  *ngIf="openFinalizeModal"
  [model]="model"
  [action]="'finalize'"
  (emitModalClose)="closeConfirmationModal($event)"
>
</kyr-catechisms-confirmation-modal>
<!-- TEMPLATES END -->
