<div fxLayout="column" fxFlex class="topbar-search-form-container">
  <form [formGroup]="form" style="padding: 10px;">

    <ng-container *ngTemplateOutlet="textInput; context: { field: 'name' }"></ng-container>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="0px">
        <div fxFlex="20" fxLayoutAlign="start center"> {{  modulePath + ':model.active'| i18next }}: </div>

        <div fxFlex="80" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
          <ui-select
            fxFlex
            [placeholder]="'translation:all'| i18next "
            [appearance]="'standard'"
            [options]="booleanOptions"
            [control]="form.get('searchFields').get('active').get('value')">
          </ui-select>
        </div>
    </div>
  </form>

  <div fxLayout="column" fxLayoutGap="15px" class="sticky-footer">
    <ui-divider></ui-divider>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="95" style="padding-bottom: 10px;">
      <ui-button [label]="'translation:action.clear' | i18next" type="flat" (click)="clearSearch()"></ui-button>
      <ui-button [label]="'translation:action.search' | i18next" type="raised" color="primary" (click)="onSearchClick()"></ui-button>
    </div>
  </div>
</div>


<ng-template #textInput let-field="field" let-placeholder="placeholder">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="0px">
    <div fxFlex="20" fxLayoutAlign="start center">{{ modulePath + ':model.' + field | i18next }}:</div>

    <div fxFlex="80" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
      <ui-input
        fxFlex
        [placeholder]="placeholder"
        [appearance]="'standard'"
        [control]="form.get('searchFields').get(field).get('value')"
        (keyup.enter)="onSearchClick()">
      </ui-input>
    </div>
  </div>
</ng-template>
