<ui-dialog #modal
  witdth="100"
  [inputBodyTemplate]="body"
  [inputFooterTemplate]="footer"
  (modalClosed)="modalClose()"
>
</ui-dialog>

<ng-template #body>
  <form [formGroup]="form" class="form-body">
    <div class="tab-content">
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayoutAlign="center center">
          <img *ngIf="currentTheme === 'kyrios-theme-light'" [src]="'assets/' + environment.appName + '_chms_logo.png'" width="120" height="40">
          <img *ngIf="currentTheme === 'kyrios-theme-dark'"  [src]="'assets/' + environment.appName + '_chms_logo__white.png'" width="120" height="40">
        </div>
        <div fxLayoutAlign="center center">
          {{ modulePath + ':message.insert_new_passwords' | i18next }}
        </div>
        <ui-input
          fxFlex [label]="modulePath + ':model.password' | i18next"
          appearance="standard" type="password"
          [required]="true"
          [control]="form.get('user[password]')"
          [leftTemplate]="{ template: leftTemplate }"
          (keyup.enter)="onSubmit()">
        </ui-input>
        <ui-input
          fxFlex [label]="modulePath + ':model.password_confirmation' | i18next"
          appearance="standard" type="password"
          [required]="true"
          [control]="form.get('user[password_confirmation]')"
          [leftTemplate]="{ template: leftTemplate }"
          (keyup.enter)="onSubmit()">
        </ui-input>
      </div>
      <div *ngIf="errors.length > 0" fxLayout="column">
        {{ modulePath + ':message.found_errors' | i18next }}:
        <span *ngFor="let error of errors" class="mat-error">
          - {{ error }}
        </span>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
    <ui-button type="raised"
      [label]="'translation:action.cancel' | i18next" color="secondary"
      (onClickEvent)="modal.close()">
    </ui-button>
    <ui-button
      *ngIf="!isLoading; else loadingTemplate"
      type="flat" icon="save"
      [label]="modulePath + ':action.submit' | i18next"
      color="primary" (onClickEvent)="onSubmit()">
    </ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner diameter="20"></ui-progress-spinner>
  </div>
</ng-template>

<ng-template #leftTemplate >
  <ui-icon icon="vpn_key" style="position: relative; top: 5px;"></ui-icon>
</ng-template>



