<section id="documents-data-section">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-datepicker fxFlex [label]="modulePath + ':model.document_date' | i18next" [control]="form.get('document_date')"></ui-datepicker>
    <ui-input fxFlex [readonly]="true" [label]="modulePath + ':model.subscriber_description' | i18next" [control]="form.get('subscriber_description')" [rightTemplate]="{ template: priestsRightTemplate, context: { inputName: 'subscriber' } }"></ui-input>
  </div>
</section>

<section id="entities-section">
  <h2>{{ modulePath + ':header.entities' | i18next }}</h2>
  <div fxLayout="column" class="tab-content">
    <ui-table
      #entitiesTable
      [checkboxes]="false"
      [dataSource]="entitiesDS"
      [tableColumns]="entitiesColumns"
      stickyHeader="true">
    </ui-table>
    <div class="add-table-line" (click)="addTableLine(newEntity, entitiesFormArray, entitiesDS)">
      {{ 'translation:action.add' | i18next }}
    </div>
  </div>
</section>

<section id="credentials-section">
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-text-area-ckeditor fxFlex
      #free_descriptionTextEditor
      [environment]="environment"
      [label]="modulePath + ':model.free_description' | i18next"
      [control]="form.get('free_description')"
      config="">
    </ui-text-area-ckeditor>
  </div>

  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <div fxFlex class="is_free_text_message">
      <b>
        {{ modulePath + ':message.is_free_text_message' | i18next }}
      </b>
    </div>
    <ui-checkbox fxFlex class="margin-checkbox"
      [label]="modulePath + ':model.is_free_text' | i18next"
      [control]="form.get('is_free_text')">
    </ui-checkbox>
  </div>

  <div *ngIf="form.value.is_free_text" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-text-area-ckeditor fxFlex
      #free_textTextEditor
      [environment]="environment"
      [label]="modulePath + ':model.free_text' | i18next"
      [control]="form.get('free_text')"
      config="">
    </ui-text-area-ckeditor>
  </div>
</section>
