.scrollable-table {
  width: 100%;
  overflow-x: scroll;

  #groups-table {
    .col1 { min-width: 250px; max-width: 250px; }
    .col2, .col3 { min-width: 90px; max-width: 90px; }
    .col4 { min-width: 50px; max-width: 50px; }
  }
}
