<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  [inputFooterTemplate]="footer"
  (modalClosed)="navigate('/' + modulePath)"
  [disableClose]="true"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h1>{{ modulePath + ':action.change_password' | i18next }}</h1>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="!isLoading">
        <ui-progress-spinner diameter="20" color="warn" strokeWidth="4" *ngIf="isSaving"></ui-progress-spinner>
      </ng-container>

      <ui-button [title]="'translation:action.close' | i18next" type="icon" icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <router-outlet></router-outlet>
  <ng-container *ngTemplateOutlet="isLoading ? loadingTemplate : formTemplate; context: form">
  </ng-container>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save"
      [label]="'translation:action.cancel' | i18next" color="secondary"
      (onClickEvent)="onCancelClick()">
    </ui-button>
    <ui-button type="flat" icon="save" [label]="'translation:action.save' | i18next" color="accent" (onClickEvent)="onSubmit()"></ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #formTemplate>
  <form [formGroup]="form" class="form-body" autocomplete="off">

    <div fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row wrap" fxLayoutGap="20px grid" fxFlexOffset="10px">
        <div fxLayout="column" fxFlex>
          <section>
            <div class="section-container" fxLayout="column" fxFill>
              <div fxLayout="row" fxLayoutGap="10px">
                <div fxFlex class="mat-body-strong">{{ modulePath + ':model.user' | i18next }}:</div>
                <div fxFlex>{{ form.value.name ? form.value.name : '' }}</div>
              </div>
              <div fxLayout="row" fxLayoutGap="10px">
                <div fxFlex class="mat-body-strong">{{ modulePath + ':model.email' | i18next }}:</div>
                <div fxFlex>{{ form.value.email ? form.value.email : '' }}</div>
              </div>
              <ui-input fxFlex [label]="modulePath + ':model.password' | i18next" [required]="true"
                [control]="form.get('password')" [rightTemplate]="{ template: passwordRightTemplate, context: {visibleVariable: 'passwordVisible' } }"
                [type]="visibility['passwordVisible']" autocomplete="off" name="pass">
              </ui-input>
              <ui-input fxFlex [label]="modulePath + ':model.repeat_password' | i18next" [required]="true"
                [control]="form.get('repeat_password')" [rightTemplate]="{ template: passwordRightTemplate, context: {visibleVariable: 'repeatPasswordVisible' } }"
                [type]="visibility['repeatPasswordVisible']" autocomplete="off" name="pass_confirm">
              </ui-input>
            </div>

          </section>
        </div>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #passwordRightTemplate let-visibleVariable="visibleVariable">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" [icon]="visibility[visibleVariable] === 'password' ? 'visibility' : 'visibility_off'" (onClickEvent)="togglePasswordVisible(visibleVariable)"></ui-button>
  </div>
</ng-template>

