<div class="main-container" fxLayout="row" fxLayoutAlign="center stretch" [title]="'reports:module.name_many' | i18next">
  <div style="margin-right: 3px;">
    <ui-icon class="icon" icon="insert_drive_file"></ui-icon>
  </div>

  <div class="text" class="mat-body-strong text">
    {{ 'reports:module.name_many' | i18next }}
  </div>

  <div class="divider">
    <ui-divider [vertical]="true"></ui-divider>
  </div>

  <div>
    <ui-icon class="icon" icon="arrow_drop_down"></ui-icon>
  </div>
</div>
