<div fxLayout="column" class="topbar-search-form-container">
  <form [formGroup]="form" style="padding: 10px;">
    <ng-container *ngTemplateOutlet="baseTemplate"></ng-container>
  </form>

  <div fxLayout="column" fxLayoutGap="15px" class="sticky-footer">
    <ui-divider></ui-divider>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex="95" style="padding-bottom: 10px;">
      <ui-button [label]="'translation:action.clear' | i18next" type="flat" (click)="clearSearch()"></ui-button>
      <ui-button [label]="'translation:action.search' | i18next" type="raised" color="primary" (click)="onSearchClick()"></ui-button>
    </div>
  </div>
</div>


<!-- TEMPLATES -->
<ng-template #baseTemplate>
  <div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding: 0 15px 10px 15px;">
    <div fxLayout="column" fxFlex>
      <ng-container *ngTemplateOutlet="textInput; context: { field: 'name', label: modulePath + ':model.code' | i18next }"></ng-container>
      <ng-container *ngTemplateOutlet="textInput; context: { field: 'description', label: modulePath + ':model.description' | i18next }"></ng-container>

      <ng-container *ngTemplateOutlet="selectInput; context: { field: 'movement_type', label: modulePath + ':model.movement_type' | i18next, options: movementTypesOptions }"></ng-container>
      <ng-container *ngTemplateOutlet="selectInput; context: { field: 'self_assessment', label: modulePath + ':model.self_assessment' | i18next, options: booleanOptions }"></ng-container>
      <ng-container *ngTemplateOutlet="selectInput; context: { field: 'affects_legal_tax_reports', label: modulePath + ':model.affects_legal_tax_reports' | i18next, options: booleanOptions }"></ng-container>
      <ng-container *ngTemplateOutlet="selectInput; context: { field: 'active', label: modulePath + ':model.active' | i18next, options: booleanOptions }"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #textInput let-field="field" let-label="label" let-placeholder="placeholder" let-inputType="inputType" let-hint="hint">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="0px">
    <div fxFlex="25" fxLayoutAlign="start center">{{ label }}:</div>

    <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
      <ui-input
        fxFlex
        [placeholder]="placeholder ? placeholder : label"
        [appearance]="'standard'"
        [control]="form.get('searchFields').get(field).get('value')"
        [type]="inputType ? inputType : 'text'"
        [hintMessage]="hint"
        (keyup.enter)="onSearchClick()">
      </ui-input>
    </div>
  </div>
</ng-template>

<ng-template #selectInput let-field="field" let-label="label" let-options="options" let-multiple="multiple" let-hint="hint">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="0px">
    <div fxFlex="25" fxLayoutAlign="start center">{{ label }}:</div>

    <div fxFlex="70" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech" fxLayoutGap="10px">
      <ui-select
        fxFlex
        [placeholder]="'translation:all' | i18next"
        [appearance]="'standard'"
        [options]="options"
        [hintMessage]="hint"
        [multiple]="multiple"
        [control]="form.get('searchFields').get(field).get('value')">
      </ui-select>
    </div>
  </div>
</ng-template>
