<ui-dialog #modal [inputHeaderTemplate]="header" [inputBodyTemplate]="body" [inputFooterTemplate]="footer"
  (modalClosed)="onModalClose()" [disableClose]="true">
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h1>{{ (id ? modulePath + ':action.edit' : modulePath + ':action.new') | i18next }}</h1>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="!isLoading">
        <ui-progress-spinner diameter="20" color="warn" strokeWidth="4" *ngIf="isSaving"></ui-progress-spinner>

        <ui-menu *ngIf="!isQuickInsertion" type="icons" [model]="headerOptionsMenu" (sendValue)="menuClick($event)">
        </ui-menu>
      </ng-container>

      <ui-button type="icon" icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <ng-container *ngTemplateOutlet="isLoading ? loadingTemplate : formTemplate; context: form">
  </ng-container>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save" [label]="'translation:action.cancel' | i18next"
      color="secondary" (onClickEvent)="onCancelClick()">
    </ui-button>
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save" [label]="'translation:action.save_new' | i18next"
      color="secondary" (onClickEvent)="menuClick('save_new')" fxHide.lt-sm="true">
    </ui-button>

    <ui-button type="flat" icon="save"
      [label]="(isQuickInsertion ? 'translation:action.create_insert' : 'translation:action.save') | i18next"
      color="accent" (onClickEvent)="onSubmit()">
    </ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #formTemplate>
  <router-outlet></router-outlet>
  <form [formGroup]="form" class="form-body">
    <div class="tab-content">
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
        <ui-input fxFlex="80" [label]="modulePath + ':model.name' | i18next" [required]="true"
          [control]="form.get('name')"></ui-input>
        <ui-input fxFlex="20" [label]="modulePath + ':model.ser_year' | i18next" [control]="form.get('ser_year')"
          type="number" [min]="0"></ui-input>
      </div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
        <ui-checkbox fxFlex class="margin-checkbox-bottom-10px" [label]="modulePath + ':model.block_edit' | i18next"
          [control]="form.get('block_edit')"></ui-checkbox>
        <ui-checkbox fxFlex class="margin-checkbox-bottom-10px" [label]="modulePath + ':model.block_remove' | i18next"
          [control]="form.get('block_remove')"></ui-checkbox>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <ui-input fxFlex [label]="modulePath + ':model.ser_preffix' | i18next" [control]="form.get('ser_preffix')">
        </ui-input>
        <ui-input fxFlex [label]="modulePath + ':model.ser_suffix' | i18next" [control]="form.get('ser_suffix')">
        </ui-input>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <ui-input fxFlex [label]="modulePath + ':model.ser_value' | i18next" [required]="true" type="number" [min]="0"
          [control]="form.get('ser_value')"></ui-input>
        <ui-input fxFlex [label]="modulePath + ':model.ser_max' | i18next" [required]="true" type="number" [min]="0"
          [control]="form.get('ser_max')"></ui-input>
        <ui-input fxFlex [label]="modulePath + ':model.ser_length' | i18next" [required]="true" type="number" [min]="0"
          [control]="form.get('ser_length')"></ui-input>
      </div>
      {{modulePath + ':message.plus_one_message' | i18next}}
    </div>
  </form>
</ng-template>