<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  (modalClosed)="modalClose()"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <h1>
      {{ modulePath + ':module.name_singular' | i18next }}<ng-container *ngIf="model$ | async as model">: {{ model.name }}</ng-container>
    </h1>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="model$ | async as model">
          <ui-menu
          *ngIf="reportMenuOptionsModel.length"
          [hasBackdrop]="false"
          fxHide.lt-md="true"
          class="reports-list-button"
          type="nested"
          [menuClickTemplate]="reportsClickableTemplate"
          color="accent"
          [model]="reportMenuOptionsModel"
          (sendValue)="reportMenuClick($event)"
        ></ui-menu>
        <ui-menu
          *ngIf="reportMenuOptionsModel.length"
          [hasBackdrop]="false"
          fxHide.gt-sm="true"
          color="accent"
          [hoverTitle]="'reports:module.name_many' | i18next"
          type="nested"
          mainIcon="insert_drive_file"
          [model]="reportMenuOptionsModel"
          (sendValue)="reportMenuClick($event)"
        ></ui-menu>
        <ui-button type='icon' icon="edit" disableRipple="true" disableFocusRipple="true" (onClickEvent)="editModal()"></ui-button>
        <ui-menu
          type="icons"
          [model]="headerOptionsMenu"
          (sendValue)="menuClick($event, model)"
        >
        </ui-menu>
      </ng-container>
      <ui-button type='icon' icon="close" disableRipple="true" disableFocusRipple="true" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>

<ng-template #body>
  <router-outlet></router-outlet>
  <ng-container *ngIf="model$ | async as model; else loadingTemplate">
    <section>
      <div fxLayout="row">
        <div class="section-container" fxLayout="column" fxFill>
          <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex class="mat-body-strong">{{ modulePath + ':model.name' | i18next }}:</div>
            <div fxFlex>{{ model.name }}</div>
          </div>
          <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex class="mat-body-strong">{{ modulePath + ':model.is_donation_emolument' | i18next }}:</div>
            <div fxFlex>
              <ui-icon [icon]="model.is_donation_emolument ? 'check_box' : 'check_box_outline_blank'"></ui-icon>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-template>

<ng-template #reportsClickableTemplate>
  <kyr-reports-button></kyr-reports-button>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>






