<ui-dialog #modal
  [inputHeaderTemplate]="header"
  [inputBodyTemplate]="body"
  [inputFooterTemplate]="footer"
  (modalClosed)="navigate('/' + 'weddings')"
  [disableClose]="true"
>
</ui-dialog>

<ng-template #header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 *ngIf="!sharedModule.isSmallScreen(); else smallHeader">{{ modulePath + ':action.new' | i18next }}</h1>
    <ng-template #smallHeader>
      {{ modulePath + ':action.new' | i18next }}
    </ng-template>
    <div fxLayout="row" class="header-buttons">
      <ng-container *ngIf="!isLoading">
        <ui-progress-spinner diameter="20" color="warn" strokeWidth="4" *ngIf="isSaving"></ui-progress-spinner>
      </ng-container>

      <ui-button [title]="'translation:action.close' | i18next" type="icon" icon="close" (onClickEvent)="modal.close()"></ui-button>
    </div>
  </div>
  <ui-divider></ui-divider>
</ng-template>


<ng-template #body>
  <ng-container *ngTemplateOutlet="isLoading ? loadingTemplate : formTemplate; context: form">
  </ng-container>
</ng-template>

<ng-template #footer>
  <div fxFill fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ui-button *ngIf="!isQuickInsertion" type="flat" icon="save"
      [label]="'translation:action.cancel' | i18next" color="secondary"
      (onClickEvent)="onCancelClick()">
    </ui-button>

    <ui-button *ngIf="canEdit" type="flat" icon="save" [label]="'translation:action.save' | i18next" color="accent" (onClickEvent)="onSubmit()"></ui-button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ui-progress-spinner></ui-progress-spinner>
    {{ 'translation:message.loading' | i18next }}
  </div>
</ng-template>

<ng-template #formTemplate>
  <router-outlet></router-outlet>
  <form [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <ui-datepicker fxFlex [label]="modulePath + ':model.document_date' | i18next" [control]="form.get('document_date')" [required]="true"></ui-datepicker>
      <ui-input fxFlex [label]="modulePath + ':model.documents_type_description'| i18next"
        [placeholder]=" modulePath + ':model.documents_type_description'| i18next"
        readonly="true" [required]="true"
        [control]="form.get('documents_type_description')"
        [rightTemplate]="{ template: documentTypeRightTemplate }">
      </ui-input>
      <ui-select fxFlex [required]="true" [label]="modulePath + ':model.document_to_generate_serie' | i18next"
        [options]="series" [control]="form.get('documents_type_serie_id')" >
      </ui-select>
      <ui-select
        fxFlex
        [options]="currencyOptions"
        [control]="form.get('currency')">
      </ui-select>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
      <ui-input fxFlex [label]="modulePath + ':model.description'| i18next"
        [placeholder]=" modulePath + ':model.description'| i18next"
        [required]="true" [control]="form.get('name')">
      </ui-input>
      <ui-input fxFlex [label]="modulePath + ':model.entity_description'| i18next"
        [placeholder]=" modulePath + ':model.entity_description'| i18next"
        readonly="true" [required]="true"
        [control]="form.get('entity_description')"
        [rightTemplate]="{ template: parishionersRightTemplate, context: { inputName: 'entity'}  }">
      </ui-input>
    </div>

    <ui-table
      #emolumentsTable
      [checkboxes]="false"
      [dataSource]="emolumentsDS"
      [tableColumns]="emolumentsColumns">
    </ui-table>
    <div class="add-related-content" (click)="addTableLine(newEmolument, emolumentsFormArray, emolumentsDS)">
      {{ 'translation:action.add' | i18next }}
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
      <div>
        <b>{{ modulePath + ':message.total' | i18next }}:</b>
      </div>
      <div>
        <b>{{ calculateGrandTotal(emolumentsFormArray.value) }}</b>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #documentTypeRightTemplate>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" icon="open_in_new" (onClickEvent)="openSelectionModal('documents-types-modal', 'documents_type')"></ui-button>
    <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="documentTypesMenuOptions" (sendValue)="menuClick($event, 'documents_type')"></ui-menu>
  </div>
</ng-template>

<ng-template #parishionersRightTemplate let-inputName="inputName">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" icon="open_in_new" (onClickEvent)="openSelectionModal('parishioners-modal', inputName,{},'', parishionerParams)"></ui-button>
    <ui-menu [hoverTitle]="'translation:action.more' | i18next" type="icons" [model]="parishionersMenuOptions" (sendValue)="menuClick($event, 'entity')"></ui-menu>
  </div>
</ng-template>

<!-- EMOLUMENTS TABLE TEMPLATES -->
<ng-template #deleteTemplate let-index="index">
  <ui-button type="icon" icon="delete" color="warn" (click)="deleteTableLine(index, emolumentsFormArray, emolumentsDS)"></ui-button>
</ng-template>

<ng-template #descriptionTemplate let-index="index">
  <div fxLayout="column">
    <ui-input
      fxFlexOffset="20px" readonly="true" [required]="true"
      [rightTemplate]="{template: descriptionRightIndexTemplate, context: { inputName: 'document_line_attributes#' + index}}"
      [control]="emolumentsFormArray.get([index, 'emolument_description'])">
    </ui-input>
  </div>
</ng-template>

<ng-template #descriptionRightIndexTemplate let-inputName="inputName">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left: 10px;">
    <ui-button fxFlex type="icon" icon="open_in_new" (onClickEvent)="openSelectionModal('emoluments-modal', inputName)"></ui-button>
    <ui-menu type="icons" [model]="emolumentsMenuOptions" (sendValue)="menuClick($event, inputName)"></ui-menu>
  </div>
</ng-template>

<ng-template #priceValueTemplate let-index="index">
  <div fxLayout="column">
    <ui-input
      fxFlexOffset="20px" [required]="true"
      type="number"
      [control]="emolumentsFormArray.get([index, 'price_value'])">
    </ui-input>
  </div>
</ng-template>
