<section id="process-data-section">
  <h2>{{ modulePath + ':header.secretariats' | i18next }}</h2>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-input fxFlex *ngIf="id" [label]="modulePath + ':model.serie_number' | i18next" [readonly]="true" [control]="form.get('serie_number')"></ui-input>
  </div>

  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-input fxFlex [readonly]="true" [required]="true" [label]="modulePath + ':model.curia_secretariat_type_description' | i18next" [control]="form.get('curia_secretariat_type_description')" [rightTemplate]="{ template: curiaSecretariatTypesRightTemplate, context: { inputName: 'curia_secretariat_type' } }"></ui-input>
    <ui-input fxFlex [required]="true" [label]="modulePath + ':model.title' | i18next" [control]="form.get('title')"></ui-input>
  </div>

  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-input fxFlex="66" [readonly]="true" [label]="modulePath + ':model.emolument_description' | i18next" [control]="form.get('emolument_description')" [rightTemplate]="{ template: emolumentsRightTemplate, context: { inputName: 'emolument' } }"></ui-input>
    <ui-input fxFlex [label]="modulePath + ':model.tax' | i18next" [readonly]="true" [control]="form.get('tax')"></ui-input>
  </div>

  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-input fxFlex [readonly]="true" [label]="modulePath + ':model.document_entity_description' | i18next" [control]="form.get('document_entity_description')" [rightTemplate]="{ template: parishionersRightTemplate, context: { inputName: 'document_entity' } }"></ui-input>
  </div>
</section>

<section id="other-data-section">
  <h2>{{ modulePath + ':header.other_data' | i18next }}</h2>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-textarea fxFlex="100" rows="2" [label]="modulePath + ':model.delivery_term' | i18next" [control]="form.get('delivery_term')"></ui-textarea>
  </div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-textarea fxFlex="100" rows="2" [label]="modulePath + ':model.dispatch' | i18next" [control]="form.get('dispatch')"></ui-textarea>
  </div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px grid">
    <ui-textarea fxFlex="100" rows="2" [label]="modulePath + ':model.archive' | i18next" [control]="form.get('archive')"></ui-textarea>
  </div>
</section>
