<router-outlet></router-outlet>
<ng-container *ngIf="modelList$ | async as modelList">
  <ui-card>
    <div content>
      <div fxLayout="row" fxLayoutAlign="end center">
        <!-- <kyr-table-filters fxFlex [filterList]="[]"></kyr-table-filters> -->

        <ui-menu
          *ngIf="reportMenuOptionsModel.length"
          class="reports-list-button"
          type="nested"
          [menuClickTemplate]="reportsClickableTemplate"
          color="accent"
          [model]="reportMenuOptionsModel"
          (sendValue)="reportMenuClick($event)"
        ></ui-menu>

        <ui-button [style.margin]="'0 0 10px 10px'" type="flat" color="accent"
          [label]="('pending-entities:module.name_many' | i18next)"
          [attr.aria-label]="'pending-entities:module:module.name_many' | i18next"
          (onClickEvent)="router.navigate(['pending-entities'])">
        </ui-button>
      </div>
      <ng-container *ngIf="selectedRows$ | async as selectedRows">
        <ui-toolbar
          *ngIf="selectedRows.length"
          [title]="modulePath + ':message.selected' | i18next: { count: selectedRows.length }"
          [dataModel]="toolbarDataModel"
          rowColor="accent"
          (iconClickedEvent)="toolbarItemClick($event)"
          ></ui-toolbar>
      </ng-container>

      <ui-button *ngIf="!menuHelperService.getSideNavOpen()" class="float-button-mobile" [title]="'translation:action.add' | i18next" fxLayoutAlign="end" type="mini_fab" icon="add" color="accent" [attr.aria-label]="'translation:action.add' | i18next"
        (onClickEvent)="router.navigate([modulePath, 'new'])">
      </ui-button>
      <ui-table
        #table
        [dataSource]="modelList.results"
        [tableColumns]="tableColumns"
        checkboxes="true"
        stickyHeader="true"
        (clickRowEvent)="router.navigate([modulePath, $event.id, 'details'])"
        (checkboxSelectionEvent)="checkboxSelectionEvent($event)"
        (columnFilterEvent)="columnFilterEvent($event)"
        (columnOrdinationEvent)="columnOrdinationEvent($event)">
      </ui-table>

      <kyr-table-pagination>
        <ui-paginator
          [length]="modelList.total"
          [pageIndex]="modelList.page - 1"
          [pageSize]="limit"
          (onChangeEvent)="paginationChangeEvent($event)"
        ></ui-paginator>
        <ui-menu
          type="icons"
          [model]="pagerMenu"
          xPosition="before"
          (sendValue)="menuClick($event)"
        ></ui-menu>
      </kyr-table-pagination>
    </div>
  </ui-card>
</ng-container>

<!-- TEMPLATES -->
<ng-template #nameTemplate let-data="data">
  {{ data.entity.name }}
</ng-template>

<ng-template #birthDateTemplate let-data="data">
  {{ data.birth_date | date:('translation:format.date' | i18next) }}
</ng-template>

<ng-template #disabledTemplate let-data="data">
  <div fxFill fxLayoutAlign="start center">
    <mat-checkbox [checked]="data.entity.disabled" [disabled]="true"></mat-checkbox>
  </div>
</ng-template>

<ng-template #isParishionerTemplate let-data="data">
  <div fxFill fxLayoutAlign="start center">
    <mat-checkbox [checked]="data.is_parishioner" [disabled]="true"></mat-checkbox>
  </div>
</ng-template>

<ng-template #isElderTemplate let-data="data">
  <div fxFill fxLayoutAlign="start center">
    <mat-checkbox [checked]="data.entity.entity_elder_patient.elder" [disabled]="true"></mat-checkbox>
  </div>
</ng-template>

<ng-template #isCatechized let-data="data">
  <div fxFill fxLayoutAlign="start center">
    <mat-checkbox [checked]="data.is_catechized" [disabled]="true"></mat-checkbox>
  </div>
</ng-template>

<ng-template #isSickTemplate let-data="data">
  <div fxFill fxLayoutAlign="start center">
    <mat-checkbox [checked]="data.entity.entity_elder_patient.sick" [disabled]="true"></mat-checkbox>
  </div>
</ng-template>

<ng-template #buttonsTemplate let-data="data">
  <div fxLayout="row" fxLayoutAlign="end center">
    <ui-button [title]="'translation:action.edit' | i18next" type="icon" icon="edit" (onClickEvent)="router.navigate([modulePath, data.id, 'edit'])"></ui-button>
    <ui-menu
      [hoverTitle]="'translation:action.more' | i18next"
      type="icons"
      [model]="headerOptionsMenu"
      (sendValue)="menuClick($event, data)"
    >
    </ui-menu>
  </div>
</ng-template>

<ng-template #reportsClickableTemplate>
  <kyr-reports-button></kyr-reports-button>
</ng-template>
<!-- TEMPLATES END -->
